@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family= Glock & display=swap');
@font-face {
    font-family: Glook;
    src: url(fontes/Gloock-Regular.ttf);
}
body {
    margin: 0px;
    background-color: rgba(236, 236, 192, 0.849);
    height: 100vh;
    background-size: cover;
}
header {
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.199);
    margin: auto;
    padding-top: 7px;
    max-width: 1000px;
    height: 190px;
    background-image: linear-gradient(to top,#fabb0d, #e3cc00, #f9fd00);
}
h1 {
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.308);
    text-align: center;
    font-family: Glook;
    font-weight: bold;
    font-size: 45px;
}
nav > a {
    margin: 10px;
    text-decoration: none;
    color:#f16304b9;
    font-size: 18px;
}
nav a:hover {
    background-color: #e0b94c79;
    padding: 10px 10px 10px 10px;
    text-decoration: underline;
    border-radius: 10px;
}
header > p {
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.226);
    font-size: 18px;
    text-align: center;
    font-family: Glook;
}
section {
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.295);
    padding-top: 7px;
    margin: auto;
    max-width: 1000px;
    height: 300px;
    background-color: white;
    background-image: url(imagens/monte-cinzento2.0\ -\ Editado.png);
    background-size: cover;
    
}
main {
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.233);
    margin: auto;
    padding-top: 7px;
    padding-bottom: 3px;
    min-width: 350px;
    max-width: 1000px;
    height: 2200;
    background-color: white;
}
section > h2 {
    text-align: center;
    padding-top: 90px;
    color: rgb(207, 203, 203);
    font-weight: normal;
    font-size: 28px;
}
section > p {
    text-align: center;
    color: rgb(207, 202, 202);
    font-size: 17px;
}
main > p {
    padding-left: 15px;
    padding-right: 15px;
    text-indent: 20px;
    font-size: 17px;
}
main > h2 {
    background-image: linear-gradient(to top,#e0b94c79, transparent);
    color: #f16304b9;
    padding-top: 10px;
    font-family: Glook;
    text-align: center;
}
a {
    text-decoration: none;
    color: #f16304b9;
}
a :hover {
    background-color: #e0b94c79;
    text-decoration: underline;
}
.design {
    display: block;
    margin: auto;
}
.dupla {
    display: block;
    margin: auto;
}
aside {
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.281);
    max-width: 1000px;
    height: 100%;
    background-color: #e0b94c79;
    border-radius: 10px;
    margin: 15px 15px 15px 15px;
    padding-bottom: 10px;
}
.comentario {
    text-align: center;
    font-size: 12px;
}
h3 {
    background-color: #f1630491;
    font-family: Glook;
    text-align: center;
    border-radius: 10px 10px 0px 0px;
}
aside > p {
    text-indent: 20px;
    padding-left: 15px;
}
ol {
    text-align: center;
    columns: 2;
    list-style-position: inside;
    font-size: 16px;
}
.final {
    font-size: 14px;
    text-indent: 20px;
    padding-bottom: 5px;
    text-align: center;
}
footer {
    margin: auto;
    max-width: 1000px;
    height: 20px;
    background-color: #f1630491;
}
footer > p {
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.322);
    text-align: center;
}
#pag02 {
    max-width: 1000px;
    height: 1800px;
}
.unboxing {
    max-width: 960px;
    height: 670px;
    border: 2px solid black;
    margin-left: 17px;
    background-color: rgba(236, 236, 192, 0.308);
}
h2 {
    font-family: Glook;
    text-align: center;
}
article > p {
    text-align: center;
    text-indent: 10px;
}
.unbo {
    display: block;
    margin: auto;
}
.rese {
    margin-left: 17px;
    margin-top: 10px;
    border: 1px solid black;
}
.resenha {
    margin-left: 17px;
    margin-top: 20px;
    border: 1px solid black;
}
.apresent {
    border: 2px solid black;
    max-width: 960px;
    height: 550px;
    margin-top: 10px;
    margin-left: 17px;
}